mjf/acxiom_soap/postal.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions name="AbiliTecPostal" targetNamespace="http://id.acxiom.com/abilitec-postal/1.0" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://id.acxiom.com/abilitec-postal/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <schema targetNamespace="http://id.acxiom.com/abilitec-postal/1.0" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://id.acxiom.com/abilitec-postal/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <complexType name="cleanAddress">
        <sequence>
          <element name="PostalInput_1" nillable="true" type="tns:PostalInput"/></sequence></complexType>
      <complexType name="PostalInput">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="addresses" nillable="true" type="tns:UnparsedAddress"/>
          <element name="options" nillable="true" type="tns:PostalOptions"/></sequence></complexType>
      <complexType name="UnparsedAddress">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="addressLines" nillable="true" type="string"/>
          <element name="city" nillable="true" type="string"/>
          <element name="postalCode" nillable="true" type="string"/>
          <element name="state" nillable="true" type="string"/>
          <element name="urbanization" nillable="true" type="string"/></sequence></complexType>
      <complexType name="PostalOptions">
        <sequence>
          <element name="useLACSLink" type="boolean"/></sequence></complexType>
      <complexType name="cleanAddressResponse">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="result" nillable="true" type="tns:PostalOutput"/></sequence></complexType>
      <complexType name="PostalOutput">
        <sequence>
          <element name="addressAbility" nillable="true" type="tns:AddressAbility"/>
          <element name="deliveryPointValidation" nillable="true" type="tns:DeliveryPointValidation"/>
          <element name="lacsFlag" nillable="true" type="string"/>
          <element name="lineOfTravel" nillable="true" type="string"/>
          <element name="parsedAddress" nillable="true" type="tns:ParsedAddress"/></sequence></complexType>
      <complexType name="AddressAbility">
        <sequence>
          <element name="addressNotFound" type="boolean"/>
          <element name="aliasMatch" type="boolean"/>
          <element name="alternateAddress" nillable="true" type="string"/>
          <element name="alternateAddressMatch" type="boolean"/>
          <element name="carrierRouteId" nillable="true" type="string"/>
          <element name="cityAbbreviation" nillable="true" type="string"/>
          <element name="correctedCityAndOrState" type="boolean"/>
          <element name="correctedPrimaryAddress" type="boolean"/>
          <element name="correctedSecondaryAddress" type="boolean"/>
          <element name="countyCode" nillable="true" type="string"/>
          <element name="deliveryPointBarCode" nillable="true" type="string"/>
          <element name="earlyWarningSystemMatch" type="boolean"/>
          <element name="failureToMatchLastAddressLine" type="boolean"/>
          <element name="financeNumber" nillable="true" type="string"/>
          <element name="mainCity" nillable="true" type="string"/>
          <element name="mainState" nillable="true" type="string"/>
          <element name="match" type="boolean"/>
          <element name="missingPoBoxNumber" type="boolean"/>
          <element name="missingRuralRouteHcBoxNumber" type="boolean"/>
          <element name="missingSecondaryNumberInHighrise" type="boolean"/>
          <element name="missingStreetNumber" type="boolean"/>
          <element name="multipleMatchMissingIncorrectDirection" type="boolean"/>
          <element name="multipleMatchMissingIncorrectSuffix" type="boolean"/>
          <element name="multipleMatchPrimaryAddressField" type="boolean"/>
          <element name="multipleMatchSecondaryAddressField" type="boolean"/>
          <element name="noSuchPrimaryNumber" type="boolean"/>
          <element name="poBoxNumberNotOnFile" type="boolean"/>
          <element name="recordTypeCode" nillable="true" type="string"/>
          <element name="returnCode" nillable="true" type="string"/>
          <element name="ruralRouteHcBoxNotOnFile" type="boolean"/>
          <element name="secondaryNumberNotFound" type="boolean"/>
          <element name="zipCodeChanged" type="boolean"/></sequence></complexType>
      <complexType name="DeliveryPointValidation">
        <sequence>
          <element name="accurateSource" nillable="true" type="string"/>
          <element name="addressNotFound" type="boolean"/>
          <element name="aliasMatch" type="boolean"/>
          <element name="alternateAddressMatch" type="boolean"/>
          <element name="commercialMailReceivingAgency" type="boolean"/>
          <element name="correctedCityAndOrState" type="boolean"/>
          <element name="correctedPrimaryAddress" type="boolean"/>
          <element name="correctedSecondaryAddress" type="boolean"/>
          <element name="deliverability" nillable="true" type="string"/>
          <element name="earlyWarningSystemMatch" type="boolean"/>
          <element name="failureToMatchLastAddressLine" type="boolean"/>
          <element name="match" type="boolean"/>
          <element name="missingPoBoxNumber" type="boolean"/>
          <element name="missingRuralRouteHcBoxNumber" type="boolean"/>
          <element name="missingSecondaryNumber" type="boolean"/>
          <element name="missingStreetNumber" type="boolean"/>
          <element name="multipleMatchMissingIncorrectDirection" type="boolean"/>
          <element name="multipleMatchMissingIncorrectSuffix" type="boolean"/>
          <element name="multipleMatchPrimaryAddressField" type="boolean"/>
          <element name="multipleMatchSecondaryAddressField" type="boolean"/>
          <element name="noSuchPrimaryNumber" type="boolean"/>
          <element name="poBoxNumberNotOnFile" type="boolean"/>
          <element name="ruralRouteHcBoxNotOnFile" type="boolean"/>
          <element name="secondaryNumberNotFound" type="boolean"/>
          <element name="streetFrontMatch" type="boolean"/>
          <element name="zipCodeChanged" type="boolean"/></sequence></complexType>
      <complexType name="ParsedAddress">
        <sequence>
          <element name="city" nillable="true" type="string"/>
          <element name="locality" nillable="true" type="string"/>
          <element name="postOfficeBox" nillable="true" type="string"/>
          <element name="postalCode" nillable="true" type="string"/>
          <element name="state" nillable="true" type="string"/>
          <element name="streetInfo" nillable="true" type="tns:StreetInfo"/>
          <element name="unit" nillable="true" type="string"/>
          <element name="unitDescription" nillable="true" type="string"/></sequence></complexType>
      <complexType name="StreetInfo">
        <sequence>
          <element name="name" nillable="true" type="string"/>
          <element name="number" nillable="true" type="string"/>
          <element name="postDirection" nillable="true" type="string"/>
          <element name="preDirection" nillable="true" type="string"/>
          <element name="suffix" nillable="true" type="string"/></sequence></complexType>
      <complexType name="InputLimitException">
        <sequence>
          <element name="message" nillable="true" type="string"/></sequence></complexType>
      <complexType name="InputValidationException">
        <sequence>
          <element name="message" nillable="true" type="string"/></sequence></complexType>
      <complexType name="SystemUnavailableException">
        <sequence>
          <element name="message" nillable="true" type="string"/></sequence></complexType>
      <element name="cleanAddress" type="tns:cleanAddress"/>
      <element name="cleanAddressResponse" type="tns:cleanAddressResponse"/>
      <element name="SystemUnavailableException" type="tns:SystemUnavailableException"/>
      <element name="InputValidationException" type="tns:InputValidationException"/>
      <element name="InputLimitException" type="tns:InputLimitException"/></schema>
  </types>
  <message name="InputLimitException">
    <part element="tns:InputLimitException" name="InputLimitException"/>
  </message>
  <message name="PostalEndpoint_cleanAddress">
    <part element="tns:cleanAddress" name="parameters"/>
  </message>
  <message name="InputValidationException">
    <part element="tns:InputValidationException" name="InputValidationException"/>
  </message>
  <message name="SystemUnavailableException">
    <part element="tns:SystemUnavailableException" name="SystemUnavailableException"/>
  </message>
  <message name="PostalEndpoint_cleanAddressResponse">
    <part element="tns:cleanAddressResponse" name="result"/>
  </message>
  <portType name="PostalEndpoint">
    <operation name="cleanAddress">
      <input message="tns:PostalEndpoint_cleanAddress"/>
      <output message="tns:PostalEndpoint_cleanAddressResponse"/>
      <fault message="tns:InputLimitException" name="InputLimitException"/>
      <fault message="tns:InputValidationException" name="InputValidationException"/>
      <fault message="tns:SystemUnavailableException" name="SystemUnavailableException"/>
    </operation>
  </portType>
  <binding name="PostalEndpointBinding" type="tns:PostalEndpoint">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="cleanAddress">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InputLimitException">
        <soap:fault name="InputLimitException" use="literal"/>
      </fault>
      <fault name="InputValidationException">
        <soap:fault name="InputValidationException" use="literal"/>
      </fault>
      <fault name="SystemUnavailableException">
        <soap:fault name="SystemUnavailableException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AbiliTecPostal">
    <port binding="tns:PostalEndpointBinding" name="PostalEndpointPort">
      <soap:address location="http://idtest.acxiom.com:80/abilitec-postal/1.0"/>
    </port>
  </service>
</definitions>